{% extends "base.html" %}
{% load board_filter %}
{% load static %}
{% block title %}
  <title>Board</title>
{% endblock title %}
{% block content %}
  <div class="row justify-content-between">
    <div class="col-md-3">
      <select name="" id="" class="form-select so">
        <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
        <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>추천순</option>
        <option value="popular" {% if so == 'popular' %}selected{% endif %}>인기순</option>
      </select>
    </div>
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" name="keyword" class="form-control" value="{{keyword|default_if_none:''}}">
        <button class="btn btn-outline-secondary" type="button">찾기</button>
      </div>
    </div>
  </div>
  <div class="my-3">
    <table class="table">
      <thead>
        <tr class="table-success">
          <th>번호</th>
          <th>추천</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일시</th>
        </tr>
      </thead>
      <tbody>
        {% comment %}
          question_list.paginator.count : 전체 게시물 개수
          question_list.start_index : 1부터 시작
          forloop.counter0 : 현재 페이지에서 0부터 인덱스 지정
          add:1 
        {% endcomment %}
        {% for question in question_list %}
          <tr>
            <th>{{question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1}}</th>
            <td>
              <span class="badge bg-warning px-2 py-1">
                <!--질문 추천수-->
                {{question.voter.count}}
              </span>
            </td>
            <td>
              <a href="{% url "board:detail" question.id %}" class="text-decoration-none text-dark">
                <!--질문 제목-->
                {{question.subject}}
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small mx-2">
                  <!--질문에 달린 답변의 개수-->
                  {{question.answer_set.count}}
                </span>
                {% endif %}
              </a>
            </td>
            <td>
              <!--질문 작성자-->
              {{question.author}}
            </td>
            <td>
              <!--질문 작성일시-->
              {{question.created_at}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        {% if question_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{question_list.previous_page_number}}">Previous</a>
          </li>
        {% endif %}
        {% for page in question_list.paginator.page_range %}
          {% if page >= question_list.number|add:-5 and page <= question_list.number|add:5%}
            <li class="page-item {% if page == question_list.number %}active{% endif %} " aria-current="page">
              <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if question_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{question_list.next_page_number}}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <a href="{% url "board:create" %}" class="btn btn-primary">질문등록</a>
  </div>
  <form action="{% url "board:index" %}" method="get" id="actionForm">
    <input type="hidden" name="page" id="page" class="form-control" value="{{page}}">
    <input type="hidden" name="keyword" id="keyword" class="form-control" value="{{keyword|default_if_none:''}}">
    <input type="hidden" name="so" id="so" class="form-control" value="{{so|default_if_none:''}}">
  </form>
{% endblock content %}
{% block script %}
  <script src="{% static 'js/list.js' %}"></script>
{% endblock script %}
